DB_PATH = "database/sql/database.db" # str
BETA_DB_PATH = "database/sql/beta_database.db" # str

INVITE = "bot invite link" # str
SUPPORT_SERVER = "permanent invite to your support server" # str
SOURCE_CODE = "(optional) link to the bots source code" # str or None
DONATE = "(optional) link to donatebot.io donation page" # str or None
ISSUES_PAGE = "link to github issues page"

SUPPORT_SERVER_ID = 0 #your-server-id

COLOR = 0xfffb00 # hex
MISTAKE_COLOR = 0xffaa00 # hex
ERROR_COLOR = 0xff0000 # hex

# Donation Config
DEFAULT_LEVEL = {
    'starboards': num_starboards,
    'emojis': nmm_emojis
}

PATRON_LEVELS = {
    "donatebot product id": {
        'display': {
            'title': 'Product Title',
            'description': """Description and perks for this level"""
        },
        'gives_role': None, #option id of role to give to user if they are in your support server,
        'num': 1 # The level... Essentially means that level 2 will have all the features level 1 has. Can all be set to 0 if needed
        'perks': {
            'starboards': num_starboards,
            'emojis': num_emojis # For unlimited do float('inf')
        }
    },
    "bJZn0tdzNl": {
        'display': {
            'title': 'Gold Patron',
            'description': """For all servers you own:\
                \n**- Up to 5 starboards**\
                \n**- Up to 5 emojis per starboard**"""
        },
        'gives_role': 748348092566208542,
        'num': 2,
        'perks': {
            'starboards': num_starboards,
            'emojis': num_emojis
        }
    }
}

# Markdown, str
PRIVACY_POLICY = \
"""
Put your option privacy policy here, or just remove/comment out the privacy policy command
"""