OWNER_ID = your_id_here
RUN_SQL = [id1, id2]
BOT_ID=your bots id

REDIRECT_URI = "OAUTH2 Redirect URI"

INVITE = "bot invite link" # str
SUPPORT_SERVER = "permanent invite to your support server" # str
SOURCE_CODE = "(optional) link to the bots source code" # str or None
DONATE = "(optional) link to donatebot.io donation page" # str or None
ISSUES_PAGE = "link to github issues page"
VOTE = "bot list vote link"

RANDOM_MESSAGES = [
    'messages to send randomly',
    'message2'
]
MESSAGE_CHANCE = 50

SUPPORT_SERVER_ID = 0 #your-server-id
SERVER_LOG_ID = 0 #the channel to send server joins and leaves to. Must be in support server
VOTE_LOG_ID = 0 #the channel to send votes to
VOTE_ROLE_ID = 0 #the role to give users for 1 day when they vote

PAGINATOR_EMOJIS = ('◀', '▶', '⏹')
DEFAULT_PREFIX = 'sb!'

DONATE_BOT_ON = False # For those who want to accept donations through donatebot

COLOR = 0xffe16c
MISTAKE_COLOR = 0xffaa00  # hex (Currently Unused by the bot)
ERROR_COLOR = 0xff0000  # hex
GUILD_LEAVE_COLOR = 0xff7b1c # hex
GUILD_JOIN_COLOR = 0xffe16c # hex

# Donation Config
DEFAULT_LEVEL = {
    'starboards': float('inf'), # Set to default number of starboards. Right now it's infinite
    'emojis': float('inf'), # Same as above
    'asemojis': float('inf'), # AS = AutoStar
    'aschannels': float('inf')
}

PATRON_LEVELS = {
    "donatebot product id": {
        'display': {
            'title': 'Product Title',
            'description': """Description and perks for this level"""
        },
        'gives_role': None, #option id of role to give to user if they are in your support server,
        'num': 1, # The level... Essentially means that level 2 will have all the features level 1 has. Can all be set to 0 if needed
        'perks': {
            'starboards': 4, # How many starboards do users get if they have this level
            'emojis': 4, # How many emojis per starboard do users get if they have this level,
            'aschannels': 1,
            'asemojis': 1
        }
    },
    "bJZn0tdzNl": {
        'display': {
            'title': 'Gold Patron',
            'description': """For all servers you own:\
                \n**- Up to 6 starboards**\
                \n**- Up to 6 emojis per starboard**"""
        },
        'gives_role': None,
        'num': 2,
        'perks': {
            'starboards': 6,
            'emojis': 6,
            'aschannels': 2,
            'asemojis': 2
        }
    }
}

PARTNERS = {

    {
        'title': 'Partner With Us!',
        'description': (
            "Do you want to partner with Starboard? "
            "Join our discord server and DM "
            "Circuit#5585!"
        ),
        'color': '#ffe16c',
        'url': '#',
        'image': 'https://i.ibb.co/Kzb62xT/starboard-logo.png'
    }

}

# Markdown, str
PRIVACY_POLICY = \
"""
Put your option privacy policy here, or just remove/comment out the privacy policy command
"""
