{% extends 'base.jinja' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div>
        <h1 style="overflow: hidden; word-wrap: break-word; font-size: 50px; text-align: center;">404</h1>
        <p style="text-align: center;">Just where do you think you're going?</p>
    </div>
</div>
{% endblock %}