<!doctype html>

<html lang="en">
<head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Starboard" />
    <meta property="og:description" content="The best discord starboard" />
    <meta property="og:url" content="https://starboard.ld1.repl.co/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Starboard{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src='https://i.ibb.co/Kzb62xT/starboard-logo.png' style='width: 40px;'>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class='nav-item'>
                <a class='nav-link' href='{{ url_for("home") }}'>Home</a>
            </li>
<!--                <li class="nav-item active">
                    <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
!-->
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>