<!doctype html>

<html lang="en">
<head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Starboard" />
    <meta property="og:description" content="The best discord starboard" />
    <meta property="og:url" content="https://starboard.ld1.repl.co/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Starboard{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src='https://i.ibb.co/Kzb62xT/starboard-logo.png' style='width: 40px;'>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for("home") }}'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="{{ url_for('servers') }}">Dashboard</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="https://dsc.gg/starhelp" target='_blank'>Discord</a>
                </li>
            </ul>
            <ul class='navbar-nav'>
                {% if authorized %}
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <img src="{{ user.avatar_url }}" alt="Your Avatar" style='width: 30px;' class='rounded-circle'>
                            {{ user.name }}#{{ user.discriminator }}
                        </a>
                        <div class="dropdown-menu" style="background-color: #2d3236">
                            <a class="dropdown-item" id="logout-dropdown-btn" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ url_for('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>