{% extends 'base.jinja' %}

{% block content %}
<div class='jumbotron bg-dark'>
    <h1 class='text-center'>Starboard</h1>
    <h4 class='text-center'>The most advanced starboard</h4>
    <p class='text-center'>{{ gcount }} servers | {{ mcount }} users</p>
</div>
{% endblock %}