{% extends 'base.jinja' %}

{% block topstatic %}
<link rel='stylesheet' href="{{ url_for('static', filename='partners.css') }}">
{% endblock %}

{% block content %}
<br>
<h1 class='text-center'>Our Partners</h1>
<br>
<div class='container'>
    <div class="row d-flex justify-content-center align-items-middle partner-box-container bg-dark">

        <div class='col-md-3 partner-box' id='dlabs'>
            <a href="#">
                <div class='inner-partner-box'>
                    <div class='partner-splash-area'>
                        <img src="https://cdn.discordlabs.org/logo.gif">
                        Discord Labs
                    </div>
                    <div class='partner-desc text-center'>
                        Description<br><br>More
                    </div>
                </div>
            </a>
        </div>

        <div class='col-md-3 partner-box' id='devhub'>
            <a href="https://discorddevhub.cf/?utm_source=starboard&utm_medium=partnership&utm_content=box">
                <div class='inner-partner-box'>
                    <div class='partner-splash-area'>
                        <img src="https://cam.is-ne.at/PLGXtE.png">
                        Discord DevHub
                    </div>
                    <div class='partner-desc text-center'>
                        Discord DevHub is an exclusive development community on Discord. Want to join? Not so fast- you're gonna need to solve the puzzle first to prove that you deserve to be here!
                    </div>
                </div>
            </a>
        </div>

        <div class='col-md-3 partner-box' id='starboard'>
            <a href="#">
                <div class='inner-partner-box'>
                    <div class='partner-splash-area'>
                        <img src="https://i.ibb.co/Kzb62xT/starboard-logo.png">
                        Partner With Us!
                    </div>
                    <div class='partner-desc text-center'>
                        Want to parter with Starboard? Join our discord and DM Circuit#5585
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}