{% extends 'base.jinja' %}

{% block topstatic %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/server-base.css') }}">
{% endblock %}

{% block content %}
<script>
    let currentGuildId = "{{ gid }}";
</script>

<div class="tab">
    <button class="tablinks active" onclick="">General</button>
    <button class="tablinks" onclick="">Starboards</button>
    <button class="tablinks" onclick="">AutoStar Channels</button>
</div>

<div style="width: 90%; float: left;">
    <div class='container bg-dark settings-container'>
        <div>
            Prefixes: <p id='prefixes'></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/server-general.js') }}"></script>

{% endblock %}

{% block footer %}
{% endblock %}