{% extends 'base.jinja' %}

{% block topstatic %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/server-base.css') }}">
{% endblock %}

{% block content %}
<div id="dashboard-container">
    <div class="tab">
        <button class="tablinks active" onclick="">General</button>
        <button class="tablinks" onclick="">Starboards</button>
        <button class="tablinks" onclick="">AutoStar Channels</button>
    </div>
</div>
{{ data }}
{% endblock %}

{% block footer %}
{% endblock %}