{% extends 'base.jinja' %}

{% block content %}
<br>
<h1 class='text-center'>Server Picker</h1>
<br>
<div class='container'>
    <div class="row d-flex justify-content-center align-items-middle server-box-container bg-dark">
        {% for g in guilds %}
            <div class='col-md-2 server-box'>
                <a href="{{ url_for('manage_guild', gid=g.id) }}">
                    <div class='inner-server-box'>
                        <img src="{{ icons[g.id] }}" class='rounded-circle' style="width: 75px;">
                        <br>
                        {{ g.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}