.main-home-div {
    margin-top: 200px!important;
    margin-bottom: 300px!important;
}

.mybtn {
    margin: 5px;
    width: 200px!important;
    padding: 10px;
    border-radius: 10px;
}

.feature-button {
    margin-top: 10px;
}

.btn-myprimary {
    background-color: #ffe16c;
    border: 2px solid #ffe16c;
}

.btn-myprimary:hover {
    background-color: #e2c862;
    border: 2px solid #e2c862;
    color: black;
}

.btn-mysecondary {
    background-color: transparent;
    border: 2px solid #ffe16c;
    color: #ffe16c;
}

.btn-mysecondary:hover {
    background-color: #ffe16c;
    color: black;
}

.bot-features {
    margin-top: 40px !important;
}

.feature-card {
    transition: 0.2s;
    border: 3px solid #ffe16c;
    border-radius: 20px;
    background-color: #23272A;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: lightgrey;
}

.feature-card:hover {
    transform: perspective(500px) scale(1.05);
}

.feature-card h3 {
    color: #ffe16c !important;
}