.partner-box-container {
    padding: 0px;
    border-radius: 5px;
}

.partner-box {
    transition: 0.25s;
    height: 570px;
    margin: 10px;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 4px solid transparent;
}

.partner-box:hover {
    transition: 0.25s;
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 6px rgb(26, 26, 26);
}

#dlabs:hover {
    transition: 0.25s;
    border: 4px solid purple;
}

#starboard:hover {
    transition: 0.25s;
    border: 4px solid #ffe16c;
}

.inner-partner-box {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.partner-splash-area {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
}

.partner-splash-area img {
    margin: 0px;
    padding: 0px;
    border-radius: 5px 5px 0px 0px;
    max-width: 100%;
    max-height: 100%;
}

.partner-box a {
    color: white;
    text-decoration: none;
}

.partner-desc {
    height: 50%;
}