body {
    background-color: #23272A;
    color: white;
}

.sb-text-yellow {
    color: #ffe16c;
}

.server-box-container {
    padding: 20px;
    border-radius: 10px;
}

.server-box {
    transition: 0.25s;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 0px;
}

.inner-server-box {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.server-box:hover {
    transition: 0.25s;
    background-color: #ffe16c;
    transform: translate(0, -5px);
    box-shadow: 5px 5px 6px rgb(26, 26, 26);
}

.server-box a {
    transition: 0.25s;
    text-decoration: none;
    color: white;
}

.server-box:hover a {
    transition: 0.25s;
    color: black;
}

#logout-dropdown-btn {
    color: white;
}

#logout-dropdown-btn:hover {
    background-color: #dc3545;
}

.my-dropdown-btn {
    color: white;
}

.my-dropdown-btn:hover {
    background-color: #ffe16c;
    color: black;
}
